@import "../../styles/config/variables";

.thankyouSection{
    .container{
        .thankyouContent{
            text-align:center;
            .thankyouImage{
                img{
                    max-width: 100%;
                    width: 100%;
                    height: 25em;
                    object-fit: contain;
                    @include media(large){
                        height: 23em;
                    }
                    @include media(medium){
                        height: 20em;
                    }
                    @include media(small){
                        height: 18em;
                    }
                    @include media(medium-small){
                        height: 16em;
                    }
                    @include media(very-small){
                        height: 14em;
                    }
                }
            }
            .goBackButton{
                margin: 3em 0 0;
                @include media(medium){
                    margin: 2.5em 0 0;
                }
                @include media(small){
                    margin: 2em 0 0;
                }
            }
        }
    }
}