@import '../../styles/config/variables';

.companyvisionSection{
    .container{
        .companyvisionContent{
            h6{
                font-weight: $font-weight-600;
                
                padding-bottom: 0.5em;
            }
        }
    }
    + .serviceSection{
        &.sectionInnerSpace{
            @include media(medium){
                margin: 8em 0 6em;
            }
            @include media(very-small){
                margin: 6em 0 4em;
            }
        }
    }
}