@import '../../styles/config/variables';

.testimonialSection{
    position:relative;
    margin-bottom:12em;
    @include media(small){
        margin-bottom: 6em;
    }
    @include media(medium-small){
        margin-bottom: 4em;
    }
    .container{
        .testimonialContent{
            .testimonialWrap{
                background-color: $bg-azure;
                border-radius: $border-radius-regular;
                padding: 4.375em 5.625em 0 3.125em;
                max-width: 60em;
                width: 100%;
                margin:0 auto;
                position: relative;
                @include media(extra-large){
                  padding: 4em 5.3em 0 3em;
                }
                @include media(large){
                    padding: 4em 5em 0 3em;
                }
                @include media(medium){
                    padding: 3em 5em 0 2.5em;
                }
                @include media(small){
                    padding: 2em 3em 2em 2em;
                }
                &:before{
                    content:"";
                    background-image: url("/assets/images/quote.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: block;
                    position: absolute;
                    top: -2em;
                    width: 4em;
                    height: 3.5em;
                    @include media(small){
                        width: 3.5em;
                        height: 3em;
                        top: -1.5em;
                    }
                }
                .react-multi-carousel-list{
                    position: static;
                    .react-multi-carousel-dot-list {
                        @include media(small){
                            display: none;
                        }
                        bottom: -3em;
                        .react-multi-carousel-dot{
                            button{
                                width: 14px;
                                height: 14px;
                                border:0;
                                background-color: $bg-dot;
                                margin-right: 10px;
                                transition: none;
                            }
                        }
                        .react-multi-carousel-dot--active {
                            button{
                                background-color: $bg-dot-active;
                                transform:scale(1.3);
                            }
                        }
                    }
                }
                .testiBox{
                    &.gridBox{
                        font-weight: $font-weight-500;
                        font-size: $font-size-16;
                        text-align: justify;
                        color: $gray-color;
                        padding:0;
                        @include media(small){
                            grid-template-columns: 1fr;
                            grid-row-gap: 2.5em;
                        }
                        .leftSide{
                            @include media(small){
                                padding: 1.4em 0 0;
                            }
                            @include media(medium-small){
                                padding: 1.2em 0 0;
                            }
                            @include media(very-small){
                                padding: 1em 0 0;
                            }
                            .description{
                                font-weight: $font-weight-500;
                                font-size: $font-size-16;
                                line-height: $line-height-large;
                                text-align: justify;
                                color: $gray-color;
                            }
                            .profileWrap{
                                padding: 1.5em 0 0;
                                @include media(medium){
                                    padding: 1.4em 0 0;
                                }
                                @include media(small){
                                    padding: 1.3em 0 0;
                                }
                                @include media(medium-small){
                                    padding: 1.2em 0 0;
                                }
                                @include media(very-small){
                                    padding: 1.2em 0 0;
                                }
                                .profileName{
                                    font-weight: $font-weight-600;
                                    font-size: $font-size-20;
                                    line-height: $line-height-normal;
                                    text-align: justify;
                                    color: $black-color;
                                    padding-bottom: 0.3em;
                                }
                                .profileDetails{
                                    padding:0.5em 0 0;
                                    font-weight: $font-weight-500;
                                    font-size: $font-size-16;
                                    line-height: $line-height-normal;
                                    text-align: justify;
                                    color: $black-opc-50;
                                }
                            }
                        }
                        .rightSide{
                            position: relative;
                            bottom: 0;
                            @include media(small){
                              text-align: center;
                            }
                            img{
                                &.remix-image{
                                    max-width: 10em;
                                    width: 100%;
                                    height: 100%;
                                }
                                &:last-child {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    z-index: -1;
                                    @include media(small){
                                        left: 50%;
                                        transform: translateX(-50%);
                                    }
                                    
                                }
                            }
                            &:hover{
                                img{
                                    &:last-child {
                                        z-index: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

