@import '../../styles/config/variables';


.jamStackResourceSection{
    margin: 3.125em 0;
    .jamStackResourceContent{
        background-color: $black-color;
        border-radius: $border-radius-regular;
        padding:3.125em 2.5em;
        @include media(large){
            padding:3em 2.3em;
        }
        @include media(medium){
            padding:2.5em 2em;
        }
        @include media(small){
            padding:2.3em 1.7em;
        }
        h6{
            font-weight: $font-weight-500;
            font-size: $font-size-16;
            line-height: $line-height-normal;
            letter-spacing: 0.025em;
            color: $white-color;
            text-align:center;
        }
        .jrGrid {
            padding:3.125em 0 4em;
            @include media(extra-large){
                padding:3em 0 3.5em;
            }
            @include media(large){
                padding:3em 0 3em;
            }
            @include media(medium){
                padding:2.3em 0 2.7em;
                grid-template-columns: 1fr;
                grid-row-gap:3em;
            }
            @include media(small){
                padding:2em 0 2.5em;
            }
            .jrBox{
                .jrIcon{
                    text-align:center;
                    padding-bottom:2.5em;
                    img{
                        max-width: 5.750em;
                        width: 100%;
                        height:auto;
                        margin:0 auto;
                        @include media(large){
                            max-width: 5.5em;
                        }
                        @include media(medium){
                            max-width: 5.3em;
                        }
                        @include media(small){
                            max-width: 5em;
                        }
                    }
                }
                h4{
                    font-weight: $font-weight-700;
                    font-size: $font-size-22;
                    line-height: $line-height-normal;
                    color: $white-color;
                    text-transform:$text-transform-uppercase;
                    text-align:center;
                    padding-bottom:0.7em;
                    @include media(medium){
                        font-size: $font-size-20; 
                    }
                    @include media(small){
                        font-size: $font-size-19; 
                    }
                    @include media(medium-small){
                        font-size: $font-size-18; 
                    }
                }
                p{
                    font-weight: $font-weight-400;
                    font-size: $font-size-14;
                    line-height: $line-height-extra-large;
                    text-align: center;
                    letter-spacing: 0.07em;
                    color: $white-color;
                    padding-bottom:0;
                }
            }
        }
        .consultButton{
            text-align:center;
            a{
                display: inline-block;
                font-size: $font-size-12;
            }
        }
    }
}