@import '../../../styles/config/variables';


.shortTestimonialSection{
    .container{
        .shortTestimonialContent{
            .shortTestimonialGrid{
                grid-column-gap: 7.5em;
                @include media(extra-large){
                    grid-column-gap: 7em;
                }
                @include media(large){
                    grid-column-gap: 6em;
                }
                @include media(medium){
                    grid-template-columns: 1fr;
                }
                
                .leftSide{
                    background-image: url("/assets/images/quotation-mark.png");
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: contain;
                    h4{
                        font-weight: $font-weight-500;
                        padding: 0 0 0.5em;
                        @include media(medium-small){
                            font-size: $font-size-22;
                        }
                    }
                    p{
                        font-size: $font-size-16;
                        color: $black-opc-50;
                        line-height: $line-height-extra-large;
                    }
                    .profileBox{
                        display: flex;
                        .profileLeft{
                            img{
                                width: 3.125em;
                                height: 3.125em;
                                object-fit: contain;
                            }
                        }
                        .profileRight{
                            padding: 0 0 0 1em;
                          h6{
                            font-weight: $font-weight-500;
                            font-size: $font-size-16;
                            line-height: $line-height-large;
                            color: $black-color;
                          }
                          p{
                            font-weight: $font-weight-500;
                            font-size: $font-size-12;
                            line-height: $line-height-normal;
                            color: $black-opc-50;
                            padding: 0;
                          }
                        }
                    }
                }
                .rightSide{
                    border-radius: $border-radius-regular;
                    img{
                        border-radius: $border-radius-regular;
                        max-width: 100%;
                        width: 100%;
                        height: 20em;
                        object-fit: cover;
                        @include media(medium){
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}