ul.contactList > li + li {
  margin-top: 3.125em;
}
ul.contactList > li > ul > li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0 0 1em;
}
@media (max-width: 640px) {
  ul.contactList > li > ul > li {
    grid-template-columns: 1fr 3fr;
  }
}
@media (max-width: 480px) {
  ul.contactList > li > ul > li {
    grid-template-columns: 1fr 2fr;
  }
}
ul.contactList > li > ul > li strong, ul.contactList > li > ul > li code {
  font-weight: 400;
  font-size: 1em;
  line-height: 1;
  color: #000000;
}
ul.contactList > li > ul > li code {
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
}
ul.contactList > li span {
  display: block;
}
ul.contactList > li span.email {
  font-weight: 400;
  font-size: 1.375em;
  letter-spacing: 0.025em;
  color: #000000;
  padding-bottom: 0.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-bottom: 1em;
}
@media (max-width: 999px) {
  ul.contactList > li span.email {
    font-size: 1.25em;
  }
}
@media (max-width: 767px) {
  ul.contactList > li span.email {
    font-size: 1.125em;
  }
}
ul.contactList > li span.phone, ul.contactList > li span.label {
  font-weight: 500;
  font-size: 1.125em;
  letter-spacing: 0.025em;
  color: #000000;
}
@media (max-width: 999px) {
  ul.contactList > li span.phone {
    font-size: 1.063em;
  }
}
@media (max-width: 767px) {
  ul.contactList > li span.phone {
    font-size: 1em;
  }
}
ul.contactList > li span.label {
  padding-bottom: 1.3em;
}
ul.contactList > li span.address {
  max-width: 50%;
  width: 100%;
}
@media (max-width: 1440px) {
  ul.contactList > li span.address {
    max-width: 60%;
  }
}
@media (max-width: 1280px) {
  ul.contactList > li span.address {
    max-width: 50%;
  }
}
@media (max-width: 1100px) {
  ul.contactList > li span.address {
    max-width: 30%;
  }
}
@media (max-width: 999px) {
  ul.contactList > li span.address {
    max-width: 40%;
  }
}
@media (max-width: 767px) {
  ul.contactList > li span.address {
    max-width: 50%;
  }
}
@media (max-width: 640px) {
  ul.contactList > li span.address {
    max-width: 60%;
  }
}
@media (max-width: 480px) {
  ul.contactList > li span.address {
    max-width: 80%;
  }
}
ul.contactList > li span.address p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.7;
  color: #000000;
}
ul.contactList > li a.button {
  background-color: transparent;
  padding: 0;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #000EE6;
  border-radius: 0;
  padding-bottom: 0.5em;
}

@media (max-width: 1100px) {
  .contactInfoSection.sectionInnerSpace {
    margin-top: 3em;
  }
}
@media (max-width: 1100px) {
  .contactInfoSection .container .contactInfoContent.gridBox {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1100px) {
  .contactInfoSection .container .contactInfoContent.gridBox .rightSide {
    margin: 10em 0 0;
  }
}
@media (max-width: 1280px) {
  .contactInfoSection .container .contactInfoContent.gridBox .rightSide .mvGrid {
    grid-template-columns: 20em 20em;
  }
}
@media (max-width: 767px) {
  .contactInfoSection .container .contactInfoContent.gridBox .rightSide .mvGrid {
    grid-template-columns: 20em;
  }
}
@media (max-width: 480px) {
  .contactInfoSection .container .contactInfoContent.gridBox .rightSide .mvGrid {
    grid-template-columns: auto;
  }
}

/*# sourceMappingURL=contactinfo.css.map */
