@import '../../styles/config/variables';

.videoSection{
    + section{
        &.sectionInnerSpace {
            margin: 0;
        }
    }
    .container{
        .videoContent{
            position: relative;
            z-index: -1;
            img{
                max-width: 100%;
                width: 100%;
                height:auto;
                object-fit: contain;
            }
            video{
                max-width: 100%;
                width: 100%;
            }
        }
    }
}