@import '../../styles/config/variables';

.FAQSection {
    .container {
        .FAQContent {
            >h4 {
                font-weight: $font-weight-400;
                text-align: center;
                padding: 2em 0 2.5em;
                @include media(large){
                    padding: 1.7em 0 2.3em;
                }
                @include media(medium){
                    padding: 1.5em 0 2em;
                }
            }

            .FAQGrid {
                &.gridBox{
                    grid-template-columns: 1fr 3fr;
                    @include media(large-medium){
                        grid-template-columns: 1fr;
                    }
                    .leftSide {
                        @include media(large-medium){
                            display: flex;
                            justify-content: center;
                            margin: 0 0 2em;
                            white-space: nowrap;
                            overflow: auto;
                            &::-webkit-scrollbar { width: 0 !important }
                        }
                        @include media(small){
                            justify-content: flex-start;
                        }
                        .faqTab {
                            display: flex;
                            img {
                                max-width: 1.5em;
                                width: 100%;
                                @include media(medium){
                                    max-width: 1.4em;
                                }
                                @include media(small){
                                    max-width: 1.3em;
                                }
                            }
    
                            h6 {
                                font-weight: $font-weight-600;
                                font-size: $font-size-22;
                                padding-left: 0.5em;
                                @include media(medium){
                                    font-size:$font-size-20;
                                }
                                @include media(medium){
                                    font-size:$font-size-19;
                                }
                                @include media(small){
                                    font-size:$font-size-18;
                                }
                                &.active {
                                    color: $blue-color;
                                }
                            }
                            @include media(large-medium){
                                margin-left: 1.5em;
                            }
                            +.faqTab {
                                margin-top: 1em;
                                @include media(large-medium){
                                    margin-top: 0;
                                    margin-left:4em;
                                }
                            }
                        }
                    }
                    .rightSide {
                        li{
                            &.active{
                                .accordion{
                                    .accordion__item{
                                        .accordion__heading{
                                            position:relative;
                                            .accordion__button {
                                                &:after {
                                                    content: '';
                                                    transform: rotate(180deg);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                             
                             .accordion {
                                .accordion__item {
                                    +.accordion__item {
                                        margin: 1.875em 0 0;
                                    }
                                    .accordion__heading{
                                        .accordion__button {
                                            &:after {
                                                content: '';
                                                background-image: url('../../../public/assets/images/white-triangle.png');
                                                background-repeat: no-repeat;
                                                background-size: contain;
                                                position: absolute;
                                                top: 0.3em;
                                                right: 0;
                                                width: 0.875em;
                                                height: 0.875em;
                                                transition: all .2s;
                                                margin-left: 3em;
                                            }
    
                                            position: relative;   
                                            padding-bottom: 0.5em;
                                            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                                            h4 {
                                                font-weight: $font-weight-600;
                                                font-size: $font-size-20;
                                                position:relative;
                                                max-width: 80%;
                                                width: 100%;
                                                @include media(large){
                                                    font-size: $font-size-19;
                                                }
                                  
                                                @include media(very-small){
                                                    
                                                    max-width: 90%;
                                                }
                                            }
                                        }
                                    }
                                    .accordion__panel{
                                            p {
                                                font-weight: $font-weight-400;
                                                font-size: $font-size-18;
                                                color: $white-opc-70;
                                                line-height: $line-height-medium;
                                                padding: 1em 0;
                                            }
                                    }
                                }
                            }
                        }
                       
                    }
                }
            }

            .questionWrap {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 4em 0 0;
                @include media(small){
                    justify-content:center;
                    flex-direction:column;
                }
                .button {
                    margin-left: 2em;
                    @include media(small){
                        margin-left:0;
                        margin-top:2em;
                    }
                }

                h4 {
                    font-weight: $font-weight-500;
                    font-size: $font-size-22;
                    letter-spacing: 0.025em;
                    color: $white-color;
                    @include media(small){
                        text-align: center;
                    }
                    span {
                        &.withRainbowImg {
                            line-height: 1;
                            position: relative;
                            padding: 0 0 0.5em;

                            &:after {
                                content: url(../../../public/assets/images/rainbow.png);
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}