// MARGINS

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.logo {
    >a {
        display: inline-block;
    }

    // max-width: 14.75em;
    // @include media(medium) {
    //     max-width: 13em;
    // }
    // @include media(small) {
    //     max-width: 12em;
    // }
    // @include media(medium-small) {
    //     max-width: 11em;
    // }
    // @include media(extra-small) {
    //     max-width: 10em;
    // }
    >a {
        img {
            max-width: 14.75em;
            width: 100%;

            @include media(extra-large) {
                max-width: 13em;
            }

            @include media(large) {
                max-width: 12em;
            }

            @include media(medium) {
                max-width: 10em;
            }

            @include media(small) {
                max-width: 11em;
            }

            // @include media(medium-small) {
            //     max-width: 11em;
            // }

            @include media(extra-small) {
                max-width: 10em;
            }
        }
    }
}

.bg-white {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $black-color;
    }

    .sectionInfo,
    .innerpageSectionInfo {
        h2 {
            color: $black-opc-50 !important;
        }
    }
}

.bg-black,
.bg-grad {

    h1,
    h2:not(.section--Title),
    h3,
    h4,
    h5,
    h6,
    p {
        color: $white-color;
    }
}

.sectionInfo {
    text-align: center;
    padding: 0 0 4.375em;

    @include media(large) {
        padding: 0 0 3.7em;
    }

    @include media(medium) {
        padding: 0 0 3.5em;
    }

    @include media(small) {
        padding: 0 0 3em;
    }
}

.sectionInnerSpace {
    margin: 8.125em 0;

    @include media(extra-large) {
        margin: 8em 0;
    }

    @include media(large) {
        // margin: 7.5em 0;
        margin: 7em 0;
    }

    @include media(medium) {
        // margin: 7em 0;
        margin: 6em 0;
    }

    @include media(small) {
        // margin: 6em 0;
        margin: 4em 0;
    }

    // @include media(medium-small) {
    //     margin: 5em 0;
    // }
    // @include media(very-small) {
    //     margin: 4em 0;
    // }
    &.bg-black,
    &.bg-grad {
        padding: 8.125em 0;

        @include media(extra-large) {
            padding: 8em 0;
        }

        @include media(large) {
            padding: 7.5em 0;
        }

        @include media(medium) {
            padding: 7em 0;
        }

        @include media(small) {
            padding: 6em 0;
        }

        @include media(medium-small) {
            padding: 5em 0;
        }

        @include media(very-small) {
            padding: 4em 0;
        }

        &.pt-0 {
            padding-top: 0;
        }

        &.pr-0 {
            padding-right: 0;
        }

        &.pb-0 {
            padding-bottom: 0;
        }

        &.pl-0 {
            padding-left: 0;
        }
    }

    &.mt-0 {
        margin-top: 0;
    }

    &.mr-0 {
        margin-right: 0;
    }

    &.mb-0 {
        margin-bottom: 0;
    }

    &.ml-0 {
        margin-left: 0;
    }
}

.color-Black {
    color: $black-color;
}

.color-White {
    color: $white-color;
}

.color-Blue {
    color: $blue-color;
}

.bg-black {
    background-color: $bg-black;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.bg-blackWithRadius {
    background-color: $black-color;
    border-radius: $border-radius-regular;
}

.home-banner--title {
    font-family: $font-primary;
    font-size: $font-size-80;
    font-weight: $font-weight-700;
    line-height: $line-height-normal;
    padding: 0 0 0.5em;

    &.withAnimation {
        display: inline-block;
        position: relative;

        .subText {
            display: block;
        }
    }

    @include media(large) {
        font-size: $font-size-70;
    }

    @include media(medium) {
        font-size: $font-size-65;
        line-height: 1.5;
        padding: 0 0 0.4em;
    }

    @include media(small) {
        font-size: $font-size-60;
        padding: 0 0 0.3em;
    }

    @include media(medium-small) {
        font-size: $font-size-56;
        line-height: 1.3;
    }

    @include media(very-small) {
        font-size: $font-size-40;
    }
}

.home-banner--description {
    font-family: $font-primary;
    font-size: $font-size-18;
    font-weight: $font-weight-400;
    line-height: $line-height-large;
    color: $black-opc-70;
    // max-width: 50%;
    max-width: 80%;
    // width: 100%;
    padding: 0;

    @include media(large) {
        // max-width: 70%;
        font-size: $font-size-17;
    }

    @include media(medium) {
        // max-width: 80%;
        max-width: 85%;
        font-size: $font-size-16;
    }

    @include media(small) {
        max-width: 90%;
        font-size: $font-size-15;
    }
}

.section--Title {
    font-family: $font-primary;
    font-size: $font-size-18;
    font-weight: $font-weight-500;
    line-height: $line-height-medium;
    color: $white-opc-50;
    // padding: 0 0 1em;
    padding: 0 0 0.7em;

    &.color-black {
        color: $black-opc-50;
    }

    @include media(large) {
        font-size: $font-size-17;
    }

    @include media(medium) {
        font-size: $font-size-16;
        padding: 0 0 0.9em;
    }

    @include media(small) {
        font-size: $font-size-15;
        padding: 0 0 0.8em;
    }
}

.section--subTitle {
    font-family: $font-primary;
    font-size: $font-size-22;
    font-weight: $font-weight-500;
    line-height: $line-height-medium;
    color: $white-color;
    text-transform: initial;

    &.color-black {
        color: $black-color;
    }

    @include media(medium) {
        font-size: $font-size-20;
    }

    @include media(small) {
        font-size: $font-size-19;
    }
}

.innerpageBannerSection {
    +.richTextSection {
        &.sectionInnerSpace {
            margin-top: -4em;

            @include media(medium) {
                margin-top: -2em;
            }
        }
    }

    @include media(medium) {
        +.titledescsbsSection {
            // &.sectionInnerSpace{
            //     margin-top: -4em;
            //     @include media(medium){
            //         margin-top: -2em;
            //     }
            // }
        }
    }

    // &.bg-black{
    //     position: relative;
    //     background-color: transparent;
    //     &:before{
    //         content: "";
    //         background-color: $black-color;
    //         width: 100%;
    //         height: 33em;
    //         position:absolute;
    //         left: 0;
    //         right: 0;
    //         top:0;
    //         bottom: 0;
    //         z-index: -1;
    //         @include media(extra-large){
    //             height: 32em;
    //         }
    //         @include media(large){
    //             height: 29em;
    //         }
    //         @include media(large-medium){
    //             height: 28em;
    //         }
    //         @include media(medium){
    //             height: 36em;
    //         }
    //     }
    // }
    &.innerBlogBannerSection {
        .container {
            .innerPageBannerContent {
                .leftSide {
                    .button {
                        margin: 0;
                    }
                }
            }
        }
    }

    padding: 8em 0 0;
    margin-bottom: 12em;

    @include media(extra-large) {
        padding: 7em 0 0;
        margin-bottom: 11em;
    }

    @include media(large) {
        padding: 6em 0 0;
        // margin-bottom: 8em;
    }

    @include media(medium) {
        padding: 5em 0 0;
        // margin-bottom: 7em;
    }

    @include media(medium-small) {
        padding: 4em 0 0;
    }

    @include media(very-small) {
        padding: 3em 0 0;
    }

    @include media(small) {
        margin-bottom: 8.5em;
    }

    @include media(medium-small) {
        margin-bottom: 8em;
    }

    .bannerDate {
        font-weight: $font-weight-400;
        font-size: $font-size-17;
        letter-spacing: 0.025em;
        color: $white-opc-50;
        padding: 0 0 0.3em;

        @include media(medium) {
            font-size: $font-size-16;
        }

        @include media(small) {
            font-size: $font-size-15;
        }
    }

    h1 {
        font-family: $font-primary;
        font-size: $font-size-48;
        color: $white-color;
        font-weight: $font-weight-600;
        line-height: $line-height-medium;
        padding: 0 0 0.5em;

        @include media(extra-large) {
            font-size: $font-size-45;
        }

        @include media(large) {
            font-size: $font-size-40;
        }

        @include media(medium) {
            font-size: $font-size-45;
        }

        @include media(small) {
            font-size: $font-size-40;
        }

        @include media(medium-small) {
            font-size: $font-size-36;
        }

        @include media(very-small) {
            font-size: $font-size-34;
        }

        br {
            @include media(medium) {
                display: none;
            }

            @include media(medium-small) {
                display: block;
            }
        }
    }

    p {
        font-family: $font-primary;
        font-size: $font-size-18;
        font-weight: $font-weight-400;
        line-height: $line-height-large;
        color: $white-opc-70;
        max-width: 33.75em;
        width: 100%;
        padding: 0;

        @include media(medium) {
            font-size: $font-size-17;
        }

        @include media(medium) {
            font-size: $font-size-16;
            max-width: 80%;
            width: 100%;
        }

        // @include media(small) {
        //     font-size: $font-size-16;
        // }
    }

    .button {
        margin: 3.125em 0 0;

        @include media(extra-large) {
            margin: 2.5em 0 0;
        }

        @include media(medium) {
            margin: 2em 0 0;
        }

        @include media(medium-small) {
            margin: 1.7em 0 0;
        }
    }

    .innerBannerImage {
        background: linear-gradient(295.75deg, #111820 0%, #191a1c 102.09%);
        border-radius: $border-radius-regular;
        height: 28em;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        bottom: -4em;
        max-width: 100%;
        width: 100%;

        @include media(large) {
            height: 26em;
        }

        @include media(large-medium) {
            height: 24em;
        }

        @include media(medium) {
            height: 24em;
            // bottom: -2em;
            bottom: -3em;
        }

        @include media(small) {
            height: 20em;
        }

        @include media(medium-small) {
            height: 18em;
        }

        @include media(very-small) {
            height: 14em;
        }

        img {
            max-width: 100%;
            height: 100%;
            // object-fit: cover;
            object-fit: contain;

            @include media(medium) {
                object-fit: contain;
            }
        }
    }

    .container {
        .innerPageBannerContent {
            &.gridBox {
                @include media(medium) {
                    grid-template-columns: 1fr;
                    // grid-row-gap: 2.5em;
                    grid-row-gap: 0;
                }

                // @include media(small){
                //     grid-row-gap: 2em;
                // }
                // @include media(small){
                //     grid-row-gap: 1.5em;
                // }
                .leftSide {
                    &.withBtmPad {
                        padding-bottom: 2em;
                    }
                }

                .rightSide {
                    @include media(medium) {
                        text-align: center;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.innerpageSectionInfo {
    text-align: center;

    +div {
        // &.fullImage{
        //     padding: 0;
        // }
        padding: 4.375em 0 0;

        @include media(large) {
            padding: 4em 0 0;
        }

        @include media(medium) {
            padding: 3.5em 0 0;
        }

        @include media(small) {
            padding: 3em 0 0;
        }

        @include media(medium-small) {
            padding: 2.5em 0 0;
        }

        @include media(very-small) {
            padding: 2em 0 0;
        }
    }

    h2 {
        font-family: $font-primary;
        font-size: $font-size-18;
        font-weight: $font-weight-500;
        line-height: $line-height-medium;
        // padding: 0 0 1em;
        padding: 0 0 0.7em;

        @include media(large) {
            font-size: $font-size-17;
        }

        @include media(medium) {
            font-size: $font-size-16;
            padding: 0 0 0.7em;
        }

        @include media(medium-small) {
            padding: 0 0 0.5em;
        }

        @include media(small) {
            font-size: $font-size-15;
        }
    }

    h3 {
        font-family: $font-primary;
        font-size: $font-size-22;
        font-weight: $font-weight-500;
        line-height: $line-height-medium;

        @include media(medium) {
            font-size: $font-size-20;
        }

        @include media(small) {
            font-size: $font-size-19;
        }
    }

    h2,
    h3 {
        strong {
            color: $pink-color;
        }
    }

}

p {
    color: $black-color;
    line-height: $line-height-extra-large;
    font-weight: $font-weight-400;
    font-size: $font-size-18;

    @include media(medium) {
        font-size: $font-size-17;
    }

    @include media(small) {
        font-size: $font-size-16;
    }
}

h1 {
    font-family: $font-primary;
    font-size: $font-size-80;
    font-weight: $font-weight-700;
    line-height: $line-height-medium;

    @include media(large) {
        font-size: $font-size-75;
    }

    @include media(medium) {
        font-size: $font-size-70;
    }

    @include media(small) {
        $font-size-65: 4em;
    }
}

h2 {
    font-family: $font-primary;
    font-size: $font-size-60;
    font-weight: $font-weight-700;
    line-height: $line-height-medium;

    @include media(large) {
        font-size: $font-size-56;
    }

    @include media(medium) {
        font-size: $font-size-48;
    }

    @include media(small) {
        font-size: $font-size-40;
    }
}

h3 {
    font-family: $font-primary;
    font-size: $font-size-48;
    font-weight: $font-weight-700;
    line-height: $line-height-medium;

    @include media(large) {
        font-size: $font-size-45;
    }

    @include media(medium) {
        font-size: $font-size-40;
    }

    @include media(small) {
        font-size: $font-size-32;
    }
}

h4 {
    font-family: $font-primary;
    font-size: $font-size-30;
    font-weight: $font-weight-700;
    line-height: $line-height-medium;

    @include media(medium) {
        font-size: $font-size-28;
    }

    @include media(small) {
        font-size: $font-size-24;
    }
}

h5 {
    font-family: $font-primary;
    font-size: $font-size-24;
    font-weight: $font-weight-700;
    line-height: $line-height-medium;

    // @include media(medium) {
    //     font-size: $font-size-22;
    // }
    @include media(small) {
        font-size: $font-size-22;
    }
}

h6 {
    font-family: $font-primary;
    font-size: $font-size-22;
    font-weight: $font-weight-700;
    line-height: $line-height-medium;
}

.weight-400 {
    font-weight: $font-weight-400;
}

.eventsNone {
    pointer-events: none;
}

.arrowLink {

    &.withoutArrow,
    &.withBorder {
        margin: 0;
    }

    margin: 0 0 0 1.5em;
}

// ==== TEXT ANIMATION ==== //

$speed: 10s;
$wordCount: 5;

.blueRing {
    position: relative;
    display: inline-block;

    .firstLetter {
        position: relative;
        z-index: 2;
        text-transform: $text-transform-lowercase;
    }

    &:before {
        content: '';
        background-image: url('/assets/images/blue-ring.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 120%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: -0.5vw;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &:after {
        content: ' ..';
    }
}

.morphing {
    display: inline;

    // text-indent: 25px;
    @include media(medium) {
        display: block;
        text-indent: 0;
        // padding: 0 0 1.3em;
    }

    >span {
        // animation: topToBottom 12.5s linear infinite 0s;
        // -ms-animation: topToBottom 12.5s linear infinite 0s;
        // -webkit-animation: topToBottom 12.5s linear infinite 0s;
        color: $black-color;
        // opacity: 0;
        // overflow: hidden;
        // position: absolute;
        // &:nth-child(2) {
        //     animation-delay: 2.5s;
        //     -ms-animation-delay: 2.5s;
        //     -webkit-animation-delay: 2.5s;
        // }
        // &:nth-child(3) {
        //     animation-delay: 5s;
        //     -ms-animation-delay: 5s;
        //     -webkit-animation-delay: 5s;
        // }
    }
}

@-moz-keyframes topToBottom {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -moz-transform: translateY(-50px);
    }

    10% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }

    30% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes topToBottom {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }

    10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    30% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes topToBottom {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -ms-transform: translateY(-50px);
    }

    10% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }

    30% {
        opacity: 0;
        -ms-transform: translateY(50px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.scroll-to-top {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50% !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue-color !important;
    right: 60px !important;
    bottom: 60px !important;

    @include media(large) {
        right: 40px !important;
        bottom: 40px !important;
    }

    @include media(medium) {
        right: 20px !important;
        bottom: 20px !important;
    }
}

.single-post__progress {
    height: 2px;
    width: 100%;
    background: rgba($color: $black-color, $alpha: 0.1);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .reading-progress-bar {
        height: 100%;
        background: $blue-color;
        width: 0;
    }
}

.sitemapSection {
    padding: 4em 0 0;

    &.sectionInnerSpace {
        margin: 0;

        &.richTextSection {
            .container {
                .richTextContent {
                    a {
                        &:hover {
                            color: $blue-color;
                        }
                    }

                    >ul {
                        >li {
                            line-height: 1;
                            position: relative;

                            >ul {
                                padding: 2em 0 0;

                                >li {
                                    &:before {
                                        content: '';
                                        background-image: none;
                                        background-color: $black-color;
                                        width: 12px;
                                        height: 12px;
                                        border-radius: 50%;
                                        line-height: 1.7;
                                        top: 20px;

                                        @include media(large) {
                                            width: 10px;
                                            height: 10px;
                                            top: 18px;
                                        }

                                        @include media(medium) {
                                            width: 8px;
                                            height: 8px;
                                            top: 15px;
                                        }
                                    }

                                    >a {
                                        font-weight: $font-weight-500;
                                        font-size: $font-size-22;
                                        letter-spacing: 0.025em;
                                        color: $black-color;

                                        @include media(medium) {
                                            font-size: $font-size-20;
                                        }

                                        @include media(small) {
                                            font-size: $font-size-19;
                                        }

                                        @include media(medium-small) {
                                            font-size: $font-size-18;
                                        }
                                    }
                                }
                            }

                            >&:before {
                                content: '';
                                background-image: none;
                                width: 30px;
                                height: 3px;
                                background-color: $blue-color;
                                display: inline-block;
                                position: absolute;
                                top: 20px;

                                @include media(large) {
                                    top: 17px;
                                }
                            }

                            margin-bottom: 2em;

                            >a {
                                font-weight: $font-weight-500;
                                font-size: $font-size-28;
                                letter-spacing: 0.025em;
                                color: $black-color;
                                padding-left: 0.5em;

                                @include media(large) {
                                    padding-left: 0.7em;
                                }

                                @include media(medium) {
                                    padding-left: 0.9em;
                                    font-size: $font-size-24;
                                }

                                @include media(small) {
                                    font-size: $font-size-22;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


p {
    strong {
        font-weight: $font-weight-500;
    }
}

.pointerNone {
    pointer-events: none;
}