ul{
    &.list{
        li{
            font-family: $font-primary;
            font-size: $font-size-18;
            font-weight:$font-weight-500;
            line-height: $line-height-medium;
            &.white{
                color: $white-color;
            }
            &.black{
                color: $black-color;
            }
        }
    }
    &.contactWrap {
        li {
            &:not(:last-child) {
                padding: 0 0 0.3em;
            }
            &:last-child {
                &.address {
                    max-width: 50%;
                    width: 100%;
                    padding: 1.3em 0 0;
                    @include media(medium){
                        max-width: 70%;
                    }
                    @include media(small){
                        max-width: 90%;
                    }
                }
            }
            a,span {
                font-size: $font-size-16;
                font-weight: $font-weight-500;
                line-height: $line-height-large;
                color: $white-color;
                &:hover{
                    color: $blue-color;
                }
            }
        }
    }   
}